.idea/
Othello-Reversi/data/
Othello-Reversi/__pycache__/
Othello-Reversi/saved_games/
Othello-Reversi-Report/main.aux
Othello-Reversi-Report/main.bcf
Othello-Reversi-Report/main.lof
Othello-Reversi-Report/main.log
Othello-Reversi-Report/main.lot
Othello-Reversi-Report/main.out
Othello-Reversi-Report/main.run.xml
Othello-Reversi-Report/main.bbl
Othello-Reversi-Report/main.blg
Othello-Reversi-Report/main.synctex.gz
Othello-Reversi-Report/main.toc
/stats/
