.idea/
Othello-Reversi/data/
Othello-Reversi/__pycache__/
Othello-Reversi/misc/__pycache__/utils.cpython-311.pyc
Report/main.aux
Report/main.bcf
Report/main.lof
Report/main.log
Report/main.lot
Report/main.out
Report/main.run.xml
Report/main.bbl
Report/main.blg
Report/main.synctex.gz
Report/main.toc
